.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  padding: 15px;
}

.fa-linkedin, .fa-github.github, .fa-solid.fa-envelope, .fa-link{
  font-size: 32px;
  color: var(--text-color);
  transition: 0.2s;
}

.fa-linkedin:hover{
  color: var(--color);
}

.github.github:hover{
  color: var(--color);
}

.fa-solid.fa-envelope:hover{
  color: var(--color);
}

.fa-link:hover{
  color: var(--color);
}

#underscore{
  font-size: 48px;
  color: var(--color);
  animation: 200ms infinite alternate typing;
}

@keyframes typing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.typing-effect{
  color: var(--color);
}
