#btn-cv{
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  border: solid var(--color) 1px;
  padding: 20px 35px;
  margin: 20px;
  border-radius: 30px;
  transition: 0.2s;
}

#btn-cv:hover{
  color: white;
  background-color: var(--color);
}


#chatbot-btn{
  width: 50px;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  float: right;
}

#close-btn{
  cursor: pointer;
}

#close-btn:hover{
  transform: scale(1.5);
}

#refresh-btn{
  margin: 20px 20px 0 0;
  cursor: pointer;
}

#refresh-btn:hover{
  transform: scale(1.5);
}

.read-more-btn{
  background-color:var(--color);
  border: 1px solid black;
  color: white;
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: bold;
  transition:0.2s;
}

.read-more-btn:hover{
  background-color:  var(--color);
  border: 1px solid var(--color);
  background-color: #40cf8f0f;
  color:var(--color)
}

.btn-form{
  width: auto;
  background-color:  var(--color);
  color:var(--color-light);
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 12px;
  border-radius: 4px;
  border: solid #404c5d 1px;
  transition: 0.2s;
}

.btn-form:hover{
  color: var(--color);
  background-color: var(--card-bg);
}

#top-btn{
  color:var(--color);
  font-size: 42px;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  left: 30px;
  float: left;
}
