
.nav{
  margin-top: 10px;
  min-width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  padding: 0 15px 0 15px;
}

.nav-links-item{
  transition: all .2s ease;
  font-size: 18px;
  padding: 20px 10px;
  margin: 0 5px;
  text-decoration: none;
  color:var(--light-grey);
}

.nav-links-item:hover{
  color: var(--text-color) !important;
}

.white{
  color:var(--text-color) !important;
}

.filled{
  background: rgba(114, 114, 114, .2);
  backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
}



.active{
  color: #fff;
  background: rgba(114, 114, 114, .2);
  transition: all .2s ease;
  padding: 8px 12px;
  border-radius: 30px;
}

.fa-moon{
  position:fixed;
  font-size: 22px;
  right: 50px;
}

.fa-moon:hover{
  transition: 0.1s;
  color: white;
}

.fa-solid.fa-bars{
  display: none;
}
